.profile__add-button {
    background:none;
    border: none;
    box-shadow: none;
    width: 150px;
    max-height: 50px;
    border-radius: 2px;
}

.profile__add-button:hover {
    opacity: .6;
    transition: opacity .4s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .profile__add-button {
        margin: 12% auto 0 auto;
    }
}