.popup__close-icon {
    max-width: 32px;
    max-height: 32px;
    z-index: 1;
    position: absolute;
    margin-top: -40px;
    margin-right: -40px;
    align-self: flex-end;
}

.popup__close-icon:hover {
    opacity: .6;
    transition: opacity .4s ease-in-out;
}

@media screen and (max-width: 630px) {
    .popup__close-icon {
        max-width: 20px;
        max-height: 20px;
        margin-right: 0;
    }
}